body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
}
img {
    width: auto;
    height: 250px;
}

div.ui {
    display: flex;
    margin: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

button {
    width: 150px;
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    
}